.page {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {
  width: 200px;
  padding: 1.2rem 1rem;
  border-right: 1px solid #eee;
  font-size: 0.9rem;
}

.sidebar-nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.sidebar-nav > ul > li {
  margin-bottom: 0.8rem;
}

.sidebar-nav strong {
  display: block;
  margin-bottom: 0.2rem;
}

.sidebar-nav a {
  text-decoration: none;
  display: block;
  padding-left: 0.6rem;
}
